In [3]:
from tqdm.notebook import tqdm
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.request import Request
import urllib
from user_agent import generate_user_agent

In [147]:
driver = webdriver.Chrome(service=Service('../../driver/chromedriver'))
driver.get('https://www.jobplanet.co.kr/companies?sort_by=review_survey_total_avg_cache')

### 테스트 진행

In [119]:
elements = driver.find_elements(By.CLASS_NAME, 'company.content_ty3')
ranking = elements.find_element(By.CLASS_NAME, 'content_col2_1').text
name = elements.find_element(By.CLASS_NAME,'us_titb_l3').text
field = elements.find_element(By.CLASS_NAME, 'us_stxt_1').text
point = elements.find_element(By.CLASS_NAME, 'gfvalue').text
money = elements.find_element(By.CLASS_NAME, 'notranslate').text


print(elements)
print(ranking)
print(name)
print(field)
print(point)
print(money)

# driver.find_element(By.XPATH, '//*[@id="listCompanies"]/div/div[2]/article/a[7]').click()

AttributeError: 'list' object has no attribute 'find_element'

### 최종

In [213]:
import time
from tqdm.notebook import tqdm

# company_list = []

for i in tqdm(range(1,2)):
    e = WebDriverWait(driver, timeout=10).until(EC.element_to_be_clickable((By.CLASS_NAME, 'company.content_ty3')))
    time.sleep(1.5)
    elements = driver.find_elements(By.CLASS_NAME, 'company.content_ty3')

    for elem in elements:
        company =[]

        ranking = elem.find_element(By.CLASS_NAME, 'content_col2_1').text
        name = elem.find_element(By.CLASS_NAME,'us_titb_l3').text
        field = elem.find_element(By.CLASS_NAME, 'us_stxt_1').text
        point = elem.find_element(By.CLASS_NAME, 'gfvalue').text
        money = elem.find_element(By.CLASS_NAME, 'notranslate').text
        
        company.append(ranking)
        company.append(name)
        company.append(field)
        company.append(point)
        company.append(money)
        company_list.append(company)
        print(company)

    driver.find_element(By.XPATH, '//*[@id="listCompanies"]/div/div[2]/article/a[7]').click()

  0%|          | 0/1 [00:00<?, ?it/s]

['...', '오엠넷(주) following', '미디어/디자인', '1.3', '2,129']
['...', '시립서대문청소년센터 following', '서비스업', '1.3', '2,928']
['...', '코몽트 following', '제조/화학', '1.3', '2,544']
['...', '(주)엘루오 following', '제조/화학', '1.2', '2,931']
['...', '(주)하라텍스 following', '제조/화학', '1.2', '2,626']
['...', '디자인커뮤니케이션(주) following', 'IT/웹/통신', '1.2', '2,339']
['...', '(의)중앙의료재단 following', '의료/제약/복지', '1.2', '2,228']
['...', '상경물산(주) following', '제조/화학', '1.2', '2,536']
['...', '(주)휴먼수피아 following', 'IT/웹/통신', '1.2', '2,493']
['...', '지앤이바이오폴리텍스(주) following', '유통/무역/운송', '1.2', '3,944']

In [214]:
# len(company1_1000), len(company1001_2000), len(company2001_3000) ,len(company3001_4000)
# company5001_6000 
# company6001_7000 
company1 
company2 
company3
company4 
company5

In [198]:
import pandas as pd

columns=['순위','기업이름','분야','평점','연봉']
df1 = pd.DataFrame(company0_1000, columns=columns)
df2 = pd.DataFrame(company1001_2000, columns=columns)
df3 = pd.DataFrame(company2001_3000, columns=columns)
df4 = pd.DataFrame(company3001_4000, columns=columns)
df5 = pd.DataFrame(company4001_5000, columns=columns)
df6 = pd.DataFrame(company5001_6000, columns=columns)
df7 = pd.DataFrame(company6001_7000, columns=columns)

result_df = pd.concat([df1, df2], axis=0)

In [200]:
result_df.to_csv('../../data/eda_project_data/company.csv',index=False)

In [215]:
columns=['순위','기업이름','분야','평점','연봉']
df8 = pd.DataFrame(company1, columns=columns)
df9 = pd.DataFrame(company2, columns=columns)
df10 = pd.DataFrame(company3, columns=columns)
df11 = pd.DataFrame(company4, columns=columns)
df12 = pd.DataFrame(company5, columns=columns)

result_df = pd.concat([result_df, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], axis=0)

In [216]:
result_df

      순위                      기업이름        분야   평점     연봉
0      1        (주)에스큐제약 following  유통/무역/운송  5.0  3,030
1      2       세이지리서치(주) following   IT/웹/통신  4.9      0
2      3        (주)팀엘리시움 following   IT/웹/통신  4.8  2,298
3      4  (주)나라스페이스테크놀로지 following     제조/화학  4.7  4,895
4      5      월급쟁이부자들(주) following   IT/웹/통신  4.7  5,109
..   ...                       ...       ...  ...    ...
315  ...    디자인커뮤니케이션(주) following   IT/웹/통신  1.2  2,339
316  ...       (의)중앙의료재단 following  의료/제약/복지  1.2  2,228
317  ...         상경물산(주) following     제조/화학  1.2  2,536
318  ...        (주)휴먼수피아 following   IT/웹/통신  1.2  2,493
319  ...   지앤이바이오폴리텍스(주) following  유통/무역/운송  1.2  3,944

[17410 rows x 5 columns]

In [217]:
import pandas as pd

# 중복된 행 제거
result_df = result_df.drop_duplicates()

In [221]:
result_df.drop(columns=['순위'], inplace=True)

/tmp/ipykernel_12934/3746378975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df.drop(columns=['순위'], inplace=True)

In [223]:
result_df = result_df.reset_index(drop=True)

In [225]:
result_df= result_df.reset_index(drop=False)

In [233]:
result_df.rename(columns={'index': '순위'}, inplace=True)

In [236]:
result_df['기업이름'] = result_df['기업이름'].str.split('f').str[0]
result_df['순위'] = result_df['순위'].astype(int)
result_df['평점'] = result_df['평점'].astype(float)
# Remove commas from the '연봉' column
result_df['연봉'] = result_df['연봉'].replace({',': ''}, regex=True)

# Convert the '연봉' column to integer
result_df['연봉'] = result_df['연봉'].astype(int)

In [1]:
import pandas as pd 
result_df = pd.read_csv('../../data/eda_project_data/company.csv')
result_df

          순위             기업이름        분야   평점    연봉
0          0        (주)에스큐제약   유통/무역/운송  5.0  3030
1          1       세이지리서치(주)    IT/웹/통신  4.9     0
2          2        (주)팀엘리시움    IT/웹/통신  4.8  2298
3          3  (주)나라스페이스테크놀로지      제조/화학  4.7  4895
4          4      월급쟁이부자들(주)    IT/웹/통신  4.7  5109
...      ...              ...       ...  ...   ...
10875  10875    디자인커뮤니케이션(주)    IT/웹/통신  1.2  2339
10876  10876       (의)중앙의료재단   의료/제약/복지  1.2  2228
10877  10877         상경물산(주)      제조/화학  1.2  2536
10878  10878        (주)휴먼수피아    IT/웹/통신  1.2  2493
10879  10879   지앤이바이오폴리텍스(주)   유통/무역/운송  1.2  3944

[10880 rows x 5 columns]

In [4]:
result_df['순위'] = result_df['순위'] + 1

In [6]:
result_df.to_csv('../../data/eda_project_data/company.csv', index=False)

In [8]:
result_df.sort_values(by='연봉',ascending=False)

        순위         기업이름       분야   평점     연봉
2353  2354   라이온코리아(주)     제조/화학  3.1  74098
5198  5199       (주)뽀득      서비스업  2.6  11955
2352  2353    라이언앤코(주)     기관/협회  3.1  11000
689    690     한국금융연구원     기관/협회  3.5  10205
1182  1183  한국평가데이터(주)      서비스업  3.3   9980
...    ...          ...      ...  ...    ...
3789  3790  (주)오엠인터랙티브   IT/웹/통신  2.8      0
172    173    (주)이안시스템   IT/웹/통신  3.9      0
9242  9243  (주)로이드손해사정    은행/금융업  2.1      0
1029  1030    (주)화창코리아   IT/웹/통신  3.4      0
1        2   세이지리서치(주)   IT/웹/통신  4.9      0

[10880 rows x 5 columns]